@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-primary: "Oswald", sans-serif;
  --font-secondary: "Raleway", sans-serif;
  --font-tertiary: "Rozha One", sans-serif;

  --color-dark: #111111;
  --color-grey: #555555;
  --color-body: #e5e5e5;
  --color-gallery: #f9f9f9;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1300px;

  --background-image-hero: url("/assets/hero/bg.jpg");
  --background-image-about: url("/assets/about/image.png");
  --background-image-interview: url("/assets/interview/bg.png");
  --background-image-outlineText: url("/assets/hero/outline-text.svg");
}

body {
  @apply w-full font-secondary text-lg text-dark bg-body;
}

.container {
  @apply px-5 max-w-325 mx-auto;
}

.section {
  @apply py-10 lg:py-40;
}

.link {
  @apply uppercase font-primary tracking-[0.08em] transition-colors duration-300 cursor-pointer;
}

.h1 {
  @apply mb-4 text-6xl lg:text-[118px] tracking-[-2px] leading-none font-tertiary;
}

.h2 {
  @apply mb-9.5 max-w-150 text-[40px] xl:text-[85px] text-dark uppercase font-primary leading-none;
}

.btn {
  @apply font-primary text-lg tracking-[0.08em] uppercase px-10 transition-all duration-300 flex items-center gap-x-2.5 cursor-pointer;
}

.btn-sm {
  @apply h-[55px];
}

.btn-lg {
  @apply h-17;
}

.btn-outline {
  @apply border border-white/70 bg-none hover:bg-white hover:text-dark;
}

.btn-dark {
  @apply bg-dark hover:bg-dark/90 text-white;
}

.btn-link {
  @apply px-0 h-auto text-dark hover:text-dark/80;
}

.active {
  @apply border-b-2 border-dark;
}

.input {
  @apply pb-4 border-b border-dark focus:border-red-500 placeholder:text-[#555555] italic tracking-[0.06em] outline-none;
}

.textarea {
  @apply h-30 w-full pb-4 border-b border-dark focus:border-red-500 placeholder:text-[#555555] italic tracking-[0.06em] outline-none resize-none;
}
